src/Workflows/GetFilePDF-A05CB9D5-4CA3-EF11-8A69-6045BDA75046.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "dev_sharedsharepointonline_1f99d"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "RedactionSiteCollection (dev_RedactionSiteCollection)": {
          "defaultValue": "https://pucelikenterprise.sharepoint.com/sites/HumanResources",
          "type": "String",
          "metadata": {
            "schemaName": "dev_RedactionSiteCollection",
            "description": "Site Collection"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "a63fdc43-f779-4420-8be8-d6ea4ac505bf"
          },
          "type": "Request",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "DocumentID_Value": {
                  "type": "string",
                  "description": "Enter variable value",
                  "x-ms-powerflows-param-ispartial": false
                }
              },
              "required": [
                "DocumentID_Value"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "558d56ab-02dc-4ff3-9b65-0a6733e6b126"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "DocName",
                "type": "string"
              }
            ]
          }
        },
        "DocumentID": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "372e1966-0d53-4437-9680-73c1e00b72c0"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "DocName",
            "value": "@triggerBody()['DocumentID_Value']"
          }
        },
        "Get_file_content": {
          "runAfter": {
            "DocumentID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4934b31a-912b-40a9-959c-f48a7bc3c7b5"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline",
              "operationId": "GetFileContent"
            },
            "parameters": {
              "dataset": "@parameters('RedactionSiteCollection (dev_RedactionSiteCollection)')",
              "id": "@triggerBody()['DocumentID_Value']",
              "inferContentType": true
            },
            "authentication": {
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
              "type": "Raw"
            }
          }
        },
        "Compose": {
          "runAfter": {
            "Get_file_content": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "de4fb714-2322-40c4-86ae-76303dd3570c"
          },
          "type": "Compose",
          "inputs": "@datauri(base64ToBinary(body('Get_file_content')?['$content']))"
        },
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3bb194d6-ffcc-421c-a04a-2da9d7a77eac"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "result": "@{outputs('Compose')}"
            },
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "title": "Result",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}